<!DOCTYPE HTML>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Acceuile{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <h1>Bienvenu!</h1>
<p>Sunt consequat do in ex commodo qui sint id incididunt do pariatur laboris et. Magna quis occaecat dolore adipisicing aute ex laborum dolore id duis. Ex aliqua non reprehenderit consequat laboris irure aliquip ad labore. Duis ex tempor mollit sunt sunt aute in tempor.
Esse eiusmod et voluptate qui mollit anim fugiat sit culpa deserunt. Id ipsum mollit dolore officia. Amet pariatur duis reprehenderit quis pariatur deserunt qui et. Do elit eu culpa ipsum minim irure est mollit laboris ea. Commodo culpa anim minim est ut ex officia laboris mollit ut. Amet officia id anim ipsum cupidatat proident pariatur id. Irure ut nostrud laborum consequat incididunt consectetur exercitation adipisicing occaecat aliqua nulla.
Ex amet dolor commodo sit do cupidatat proident mollit occaecat eu sint pariatur nisi nostrud. Id id amet occaecat sint nisi dolor velit officia. Incididunt cillum ad eiusmod officia minim duis. Deserunt id aute magna officia excepteur excepteur anim nostrud aliqua duis deserunt sint et. Consectetur proident est exercitation dolore deserunt ad dolore culpa veniam veniam.</p>
        

       <ol style="text-align:left";>
        <li>M'est Projet</li>
        <li> FAQ </li>
        <li> Espace de connections</li>
        </ol>        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>